<nav>
  <h1>
    <ol>
      @let context = context$();
      @for (segment of context.segments; track $index; let last = $last) {
        <li [routerLink]="segment.routerLink" class="link">
          @if (segment.logo) {
            <img [src]="segment.logo" alt="Logo" class="logo" />
          }
          @if (!segment.logo || last) {
            <span>{{segment.label}}</span>
          }
        </li>
      }
      @if (context.help) {
        <app-help
          [link]="context.help.link"
        ></app-help>
      }
    </ol>
  </h1>
</nav>
