@if (form(); as form) {
  @if (form.fields.length > 0) {
    <app-compact-form [fields]="form.fields" [(values)]="form.values"></app-compact-form>
  }
}

<ul>
  <li><p-button (click)="roll()" icon="pi pi-refresh" label="Roll"></p-button></li>
</ul>

@for (group of state().groups; track group.key) {
  <h2>{{ group.title }}</h2>
  <p-dataview
    [value]="group.slots"
    [trackBy]="trackByKey"
    layout="grid">
      <ng-template #grid let-items>
        <div class="grid">
          @for(slot of items; track slot.key) {
            <p-card>
              <div>
                {{slot.text}}
              </div>
            </p-card>
          }
        </div>
      </ng-template>
  </p-dataview>
}
