/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";

@layer base {
  h1 {
    @apply text-3xl text-center m-5;
  }

  h2 {
    @apply text-xl mt-4 mb-2 border-b-2;
  }

  section {
    @apply mx-auto max-w-4xl flex flex-col items-center gap-x-4 rounded-xl p-6 shadow-lg outline outline-black/5;
  }

  button {
    @apply bg-neutral-700 text-white p-4 rounded-sm hover:cursor-pointer min-w-24;
  }

  .cards {
    @apply grid grid-cols-2 md:grid-cols-4 gap-x-4;
  }
  .card {
    @apply relative outline rounded-xl p-3 m-1 aspect-square content-center text-center min-w-24 min-h-24;
  }
  .card-link {
    @apply hover:cursor-pointer hover:animate-pulse hover:text-red-500;
  }
  .card > header {
    @apply absolute top-1 left-1 font-bold;

  }
}
