@let form = form$();
@if (form !== undefined && form.source === undefined) {
    <app-compact-form
      [fields]="form.fields"
      [(values)]="form.values"
      [expanded]="true"
      (saved)="saveEditForm($event)"
      (cancelled)="cancelEditForm()"
    ></app-compact-form>
} @else {
  <p-button (click)="openEditForm()" [disabled]="form !== undefined" label="➕ Add referential"/>
}

<p-treetable [value]="tableNodes()">
  <ng-template #colgroup>
    <colgroup>
      <col /> <!-- Name -->
      <col class="referential-table-col-meta"/> <!-- Up (or sets) -->
      <col class="referential-table-col-meta"/> <!-- Down (or sets) -->
      <col class="referential-table-col-meta"/> <!-- Refresh (or components) -->
      <col class="referential-table-col-meta"/> <!-- Edit (or components) -->
      <col class="referential-table-col-meta"/> <!-- Clear -->
      <col class="referential-table-col-meta"/> <!-- Disable/Enable -->
      <col class="referential-table-col-meta"/> <!-- Remove -->
    </colgroup>
  </ng-template>
  <ng-template #body let-rowNode let-rowData="rowData">
    <tr [ttRow]="rowNode" [class.referential-table-row-disabled]="!rowData.isEnabled">
      @switch (rowData.type) {
        @case ('source') {
          <td class="referential-table-cell-name">
            <div class="flex items-center gap-2">
              <p-treetable-toggler [rowNode]="rowNode" />
              <span>{{ rowData.name }}</span>
            </div>
          </td>
          <td class="referential-table-source-cell-action">
            <p-button label="🔼" text (click)="moveSourceUp(rowData.source)" [disabled]="!rowData.can.moveUp" />
          </td>
          <td class="referential-table-source-cell-action">
            <p-button label="🔽" text (click)="moveSourceDown(rowData.source)" [disabled]="!rowData.can.moveDown" />
          </td>
          <td class="referential-table-source-cell-action" [class.pulse]="rowData.isRefreshing">
            <p-button label="🔄️" text (click)="refreshSource(rowData.source)" [disabled]="!rowData.can.refresh"/>
          </td>
          <td class="referential-table-source-cell-action">
            <p-button label="✏️" text (click)="openEditForm(rowData.source)" [disabled]="!rowData.can.edit || form !== undefined"/>
          </td>
          <td class="referential-table-source-cell-action">
            <p-button label="🧹" text (click)="clearSource(rowData.source)" />
          </td>
          <td class="referential-table-source-cell-action">
            @if (rowData.can.disable) {
              <p-button label="🚫" text (click)="disableSource(rowData.source)" />
            } @else {
              <p-button label="✅" text (click)="enableSource(rowData.source)" />
            }
          </td>
          <td class="referential-table-source-cell-action">
            <p-button label="🗑️" text (click)="removeSource(rowData.source)" [disabled]="!rowData.can.remove"/>
          </td>
        }
        @case ('game') {
          <td class="referential-table-cell-name">
            <div class="flex items-center gap-2">
              <p-treetable-toggler [rowNode]="rowNode" />
              <span>{{ rowData.name }}</span>
            </div>
          </td>
          <td colspan="2" class="referential-table-game-cell-sets">{{ rowData.game.stat.sets }} 📦</td>
          <td colspan="2" class="referential-table-game-cell-components">{{ rowData.game.stat.components }} ♟️</td>
          <td colspan="3"></td>
        }
        @case ('edit-source') {
          <td colspan="8">
            <app-compact-form
              [fields]="rowData.form.fields"
              [(values)]="rowData.form.values"
              [expanded]="true"
              (saved)="saveEditForm($event, rowData.source.key)"
              (cancelled)="cancelEditForm()"
            ></app-compact-form>
          </td>
        }
        @default {
          <td colspan="8"></td>
        }
      }
    </tr>
  </ng-template>
</p-treetable>
