<div class="form-container">

  @let form = form$;

  <p-inplace
    [active]="expanded() === true"
  >
    <ng-template #display>
      <div
        class="chip-container">
          @for (f of fields(); track f.key) {
            <p-chip label="{{ f.label }}: {{ form[f.key]().value() }}"></p-chip>
          }
      </div>
    </ng-template>

    <ng-template #content let-closeCallback="closeCallback">
      <div class="form-expanded">
        @for (f of fields(); track f.key) {
          <div class="form-field-title">{{ f.label }}: </div>
            @let formField = form[f.key]();
            @switch (f.type) {
              @case ("range") {
                <span class="form-field-range-value">{{ formField.value() }}</span>
                <p-slider class="form-field-range-input" [formField]="integerField(form, f.key)" [min]="f.min" [max]="f.max"></p-slider>
              }
              @case ("text") {
                <input pInputText class="form-field-text-input" type="text" [formField]="stringField(form, f.key)" />
              }
              @case ("url") {
                <input pInputText class="form-field-text-input" type="url" [formField]="stringField(form, f.key)" />
              }
              @default {
              }
            }
            @if (formField.touched() && formField.invalid()) {
            <div class="form-errors">
              <ul>
                @for (error of formField.errors(); track error) {
                  <li>{{ error.message }}</li>
                }
              </ul>
            </div>
            }
          }
        @if (form().touched() && form().invalid()) {
          <div class="form-errors">
            <ul>
              @for (error of form().errors(); track error) {
                <li>{{ error.message }}</li>
              }
            </ul>
          </div>
        }
        <div class="form-actions">
            @if (expanded()) {
              <p-button
                label="Save"
                [disabled]="!form().valid()"
                (click)="save()"/>
              <p-button
                label="Cancel"
                (click)="cancel()"/>
            } @else {
              <p-button
                label="Close"
                (click)="closeCallback(); close()"/>
            }
        </div>
      </div>
    </ng-template>
  </p-inplace>

</div>
