@let current = collection.content();
@if (current !== undefined) {
  <p-button [routerLink]="['collection']" icon="pi pi-pen-to-square" label="Collection"></p-button>
  @if (collection.game()?.selectedSets?.length ?? 0 > 0) {
    <h2>Randomizers</h2>
    <p-dataview [value]="current.randomizers" [trackBy]="trackByKey" layout="grid">
      <ng-template #grid let-items>
        <div class="grid">
          @for (randomizer of items; track randomizer.key) {
            <p-card class="link" [routerLink]="['randomizer', randomizer.key]">
              <div>{{randomizer.name}}</div>
            </p-card>
          }
        </div>
      </ng-template>
    </p-dataview>
  } @else {
    <p>No content available! <a routerLink="collection">Update your {{ current.name }} collection?</a></p>
  }
}
